.contakt{
    border-bottom:3px dotted lightseagreen;
    padding: 10px;
}
body{
    background-color: #1e1e1e;
}
.page{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    border:lightseagreen 2px dotted;
    border-bottom:solid coral;
    border-top: solid coral;
    margin: 20px;
    padding: 10px;
}
b{
    color: turquoise;
}
h1,h3{
    color: coral;
}